.header {
    // background-color: #0180FF;;
    position: sticky;
    top: 0;
    z-index: 100;
    padding-inline: 10px;
}

.left {
    gap: 10px;
}

.right {
    & > button {
        width: 300px;
        height: 80px;
        & > a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
    }

    border-left: 1px solid #fff;
    max-width: 50%;
}

.burger__btn {
    padding: 0 30px;
    height: 30px;
    flex-grow: 1;
    span {
        height: 2px;
        background-color: #fff;
        width: 34px;
    }
}

.bg_gray {
    background-color: rgba(255, 255, 255, 0.5);;
}