.inp {
    border: none;
    border-radius: 10px;
    height: 48px;
    padding-left: 30px;
    width: 350px;
}

.text_area {
    width: 350px;
    padding-left: 30px;
    min-height: 100px;
    border-radius: 10px;
    padding-top: 10px;
}

.btn {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 70px;
    width: 300px;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
}