@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Roboto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.ff-m {
  font-family: 'Montserrat';
}

.container {
  max-width: 1440px;
  margin: 0 auto;

}
@media (max-width: 1500px) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.burger-btn {
  display: flex;
  flex-direction: column;

}

.swiper-wrapper {
  align-items: center;
}

/* wwwwwwwww */
.inline {
  display: inline;
}

.pointer {
  cursor: pointer;
}
/* colors */

.bg-color-red {
  background-color: #FF0700;
}

.bg-color-blue {
  background-color: #0180FF;;
}

.bg-color-blue-dark {
  background-color: #152172;
}

.bg-color-blue-05 {
  background-color: rgba(255, 255, 255, 0.5);;
}

.bg-color-white {
  background-color: #fff;
}

.bg-color-white-05 {
  background-color: rgba(255,255,255,0.5);
}




.border-radius-5 {
  border-radius: 5px;
}
.border-radius-10 {
  border-radius: 10px;
}
.border-radius-30 {
  border-radius: 10px;
}
.border-radius-30 {
  border-radius: 10px;
}

.border-round {
  border-radius: 50%;
}
.shadow-1 {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

.relative {
  position: relative
}

#rotating-text {
  animation: rotation 30s infinite linear; /*CHANGE SPEED*/
  width: 100%;
  align-items: center;
}

@keyframes rotation {
  from {
  transform: rotate(0deg);
  }to {
  transform: rotate(360deg);
  }
}
#rotating-text textPath { 
  /*---------------- CHANGE TEXT APPEARANCE ----------------*/
  font-size: 60px; 
  font-family:  "Montserrat"; 
  text-transform: uppercase;
  letter-spacing: 20px; 
  fill: #fff; 
}

svg textPath { 
  font-size: 60px;             /* Change font size */
  font-family:  "Montserrat";  /* Change font – make sure it's uploaded! */
  text-transform: uppercase;   /* Change 'uppercase' to 'normal' or 'lowercase' */
  letter-spacing: 20px;        /* Change the spacing between letters */
  fill: #fff;                  /* Change the color */
  animation: rotation 30s infinite linear;
}

#movetxt {
  -webkit-animation: moving 20s infinite linear;
  animation: moving 20s infinite linear;
  /* animation-direction: alternate-reverse; */
}
@keyframes moving {
  from {transform: translateX(0%);}
  to {transform: translateX(-50%);}
}

.marqueeStyle {
  display:inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left1 20s linear infinite;
  animation: scrolling-left1 20s linear infinite;
}

.marqueeStyle2 {
  display:inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left2 20s linear infinite;
  animation: scrolling-left2 20s linear infinite;
  animation-delay: 10s;
}

/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
    0% {transform: translateX(200%);
        -webkit-transform: translateX(200%);}
      100% {transform: translateX(-200%);
          -webkit-transform: translateX(-200%);}
}
@keyframes scrolling-left2 {
    0% {transform: translateX(0%);
        -webkit-transform: translateX(0%);}
      100% {transform: translateX(-200%);
          -webkit-transform: translateX(-200%);}
}

@-webkit-keyframes scrolling-left1 {
    0% {-webkit-transform: translateX(100%);}
      100% {-webkit-transform: translateX(-100%);}
}
@-webkit-keyframes scrolling-left2 {
    0% {-webkit-transform: translateX(0%);}
      100% {-webkit-transform: translateX(-200%);}
}



.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.max-width-50pe {
  max-width: 50%;
}

.max-width-600 {
  max-width: 600px;
}

.default-shadow {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.reverse {
  transform: rotate(-180deg);
}

.width-600 {
  width: 600px;
}

.white-gradient {
  background: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,0));
}