.p-10 {
    padding: 10px;
  }
  
  .p-14 {
    padding: 14px;
  }
  .p-16 {
    padding: 16px;
  }
  .p-18 {
    padding: 18px;
  }
  .p-20 {
    padding: 20px;
  }
  
  
  .pb-10 {
    padding-bottom: 10px;
  }
  
  .pb-14 {
    padding-bottom: 14px;
  }
  
  .pb-16 {
    padding-bottom: 16px;
  }
  
  .pb-18 {
    padding-bottom: 18px;
  }
  
  .pb-20 {
    padding-bottom: 20px;
  }
  
  .pb-30 {
    padding-bottom: 30px;
  }
  
  .pb-40 {
    padding-bottom: 40px;
  }
  
  .pb-60 {
    padding-bottom: 60px;
  }
  
  .pb-100 {
    padding-bottom: 100px;
  }

  .pb-200 {
    padding-bottom: 200px;
  }
  
  .pb-260 {
    padding-bottom: 260px;
  }
  /* top */
  
  .pt-10 {
    padding-top: 10px;
  }
  
  .pt-14 {
    padding-top: 14px;
  }
  
  .pt-16 {
    padding-top: 16px;
  }
  
  .pt-18 {
    padding-top: 18px;
  }
  
  .pt-20 {
    padding-top: 20px;
  }
  
  .pt-30 {
    padding-top: 30px;
  }
  
  .pt-40 {
    padding-top: 40px;
  }
  
  .pt-60 {
    padding-top: 60px;
  }
  
  .pt-70 {
    padding-top: 70px;
  }
  
  .pt-80 {
    padding-top: 80px;
  }
  
  /* left */
  .pl-15 {
    padding-left: 15px;
  }
  .pl-30 {
    padding-left: 30px;
  }
  
  .pl-40 {
    padding-left: 40px;
  }
  
  .pl-45 {
    padding-left: 45px;
  }
  
  
  .pl-150 {
    padding-left: 150px;
  }
  
  .pl-100 {
    padding-left: 100px;
  }
  
  .pl-60 {
    padding-left: 60px;
  }
  
  .pl-70 {
    padding-left: 70px;
  }
  
  .pl-80 {
    padding-left: 80px;
  }
  
  .pl-130 {
    padding-left: 130px;
  }
  
  
  
  .pr-15 {
    padding-right: 15px;
  }
  
  .pr-30 {
    padding-right: 30px;
  }
  .pr-40 {
    padding-right: 40px;
  }
  
  .pr-80 {
    padding-right: 80px;
  }
  
  .pr-60 {
    padding-right: 60px;
  }
  
  .pr-70 {
    padding-right: 70px;
  }
  
  /* line */
  
  .p-line-10 {
    padding-inline: 10px;
  }
  
  .p-line-10 {
    padding-inline: 10px;
  }
  
  .p-line-20 {
    padding-inline: 20px;
  }
  
  .p-line-70 {
    padding-inline: 70px;
  }
  
  .p-line-30 {
    padding-inline: 30px;
  }
  
  .p-line-40 {
    padding-inline: 40px;
  }
  
  .p-line-200 {
    padding-inline: 200px;
  }
  
  /* block */
  .p-block-40 {
    padding-block: 40px;
  }
  
  .p-block-20 {
    padding-block: 20px;
  }
  .p-block-15 {
    padding: 15px;
  }
  
  .p-block-10 {
    padding-block: 10px;
  }
  
  .p-block-5 {
    padding-block: 5px;
  }
  
  

  